{# Le header #}
<div class="header">
    <div class="header-search">
        <input type="search" placeholder="Rechercher quelque chose" class="input input-search"/>
    </div>
    <div class="header-log-connected">
        <ul class="list-log-header-menu">
            <li class="list-log"><img src="{{ asset('bundles/site/images/ico/building-trade/attention1.png') }}" alt="" class="ico ico-building"/></li>
            <li class="list-log"><img src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}" alt="Avatar" class="avatar"/>    Gautier Christophe</li>
            <li class="list-log list-log-menu" id="menutoggle"><img src="{{ asset('bundles/site/images/ico/png_white/align-center@2x.png') }}" alt="" class="ico"/></li>
        </ul>
    </div>

</div>
