<div class="footer">
    <div class="footer-box">

        <p>
            <input class="btn btn-more" type="button" value="Visiter tinkHouse"/>
            Faut pas hésiter, ce site est gratuit !
        </p>
    </div>
</div>