{% include '@Site/Accueil/accueil_header.html.twig' %}
{% include '@Site/Accueil/choice.html.twig' %}

       <div class="box-content">


       </div>

{% include '@Site/Accueil/accueil_footer.html.twig' %}