<div class="box-accueil-header">
    <div class="box bah-box">
        <a href="{{ path('fos_user_security_login') }}"><input class="btn btn-login" type="button" value="Identification"/></a>
        <h1 class="site-title"><a href="{{ path('site_homepage') }}" class="inherit">tinkHouse</a></h1>
    </div>
</div>

<div class="box-accueil-underheader">
    <div class="box">
        <span class="arrow arrow-left"> < </span>
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
        <span class="arrow arrow-right"> > </span>
    </div>
</div>

