<div class="box-accueil-ctt">
    <div class="box-choice">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio !</h2>

        <div class="user-account-choice">
            <a class="link-button" href="{{ path('fos_user_registration_register') }}" > <input class="btn btn-part" type="button" value="Particulier"/></a>
            <a class="link-button" href="{{ path('fos_user_registration_register') }}" ><input class="btn btn-pro" type="button" value="Professionnel"/></a>
        </div>
    </div>
</div>