{% extends '::base_accueil.html.twig' %}

{% block body %}

{% include '@Site/Accueil/accueil_header.html.twig' %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% block fos_user_content %}{% endblock %}

{% include '@Site/Accueil/accueil_footer.html.twig' %}
{% endblock body %}
